*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    background-color: black;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
}

.choice:hover{
    opacity: 0.5;
    transition: 0.2s;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}


.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #4F5D75;
    color: #FFFFFF;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 1rem;
    }
    img{
        height: 90px;
        width: 90px;
    }
    .choice{
        width: 90px;
        height: 100px;
    }
    .choices{
        gap: 2rem;
    }
    .score-board{
        font-size: 1rem;
    }
    #user-score, #comp-score{
        font-size: 3rem;
    }
    #msg{
        font-size: 1rem;
    }
}